<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">

<!--HTML Head Links-->
{% include 'store/head.html' %}
<body>

<!--Preloader-->
{% include 'store/preloader.html' %}

<!--Nav Bar-->
{% include 'store/navbar.html' %}

<main>

<div class="hero-area section-bg2">
<div class="container">
<div class="row">
<div class="col-xl-12">
<div class="slider-area">
<div class="slider-height2 slider-bg4 d-flex align-items-center justify-content-center">
<div class="hero-caption hero-caption2">
<nav aria-label="breadcrumb">
<ol class="breadcrumb justify-content-center">
<li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
<li class="breadcrumb-item"><a href="#">Contact</a></li>
</ol>
</nav>
</div>
</div>
</div>
</div>
</div>
</div>
</div>



<section class="contact-section">
<div class="container">

<div class="row">


<div class="col-md-4 col-sm-6 media contact-info">
<span class="contact-info__icon"><i class="ti-home"></i></span>
<div class="media-body">
<h3>Ukpommili Ifitedunu, Dunukofia LGA</h3>
<p>Anambra State.</p>
</div>
</div>

<div class="col-md-4 col-sm-6 media contact-info">
<span class="contact-info__icon"><i class="ti-tablet"></i></span>
<div class="media-body">
<h3>+234 814 924 7306</h3>
<p>Mon to Fri 9am to 5pm</p>
</div>
</div>

<div class="col-md-4 media contact-info">
<span class="contact-info__icon"><i class="ti-email"></i></span>
<div class="media-body">
<a href="mailto:xystus005@gmail.com?subject=Inquiry&body=Hello%20Xystus,%0A%0AI%20have%20a%20question%20regarding..." class="btn btn-primary" style="border-radius: 0.5em; margin-top: -10px;">Send mail</a>
<p>Send us a direct email anytime!</p>
</div>
</div>


</div>
</div>
</section>

</main>

<!--Footer-->
{% include 'store/footer.html' %}

<button id="myBtn" title="Go to top">Top</button>

<!--Bottom Scripts-->
{% include 'store/bottom_scripts.html' %}

</body>

</html>